@import "tailwindcss";

:root {
  --background: #EDF1F5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono);
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.box-shadow-custom {
  box-shadow: 0 4px 6px rgba(49,54,68,.05),0 5px 20px rgba(49,54,68,.08);
  transition: box-shadow .6s ease;
}

.box-shadow-custom:hover {
  box-shadow: 0 4px 6px rgba(49,54,68,.09),0 10px 40px rgba(49,54,68,.3);
}
